// ! Module: Slider
#home-slider.owl-GitarLand-slider.owl-carousel.dark-bg
  div.item
    .slide-bg.preview-4.screen-sm-image-2
      img(src="image/export/slide1-lg.png", alt="")
    .slide-content
      .slide-title Минимальный заказ - от 6 гитар

    a(href="#").slide-button
      .btn.btn-brand-gradient
        .label Подробнее
  div.item
    .slide-bg.preview-4.screen-sm-image-2
      .sprite.sprite-logo-footer-xs
    .slide-new 
      div НОВАЯ КОЛЛЕЦИЯ
    .slide-content
      .slide-title Спрайт на фоне
      .slide-article
        p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Правилами по всей коварных заманивший пояс свою толку, возвращайся речью, маленькая текста! Они на берегу пустился назад свою однажды великий составитель выйти!
    a(href="#").slide-button
      .btn
        i.icon.icon-gl_icos-37
        .label Подробнее
  div.item
    .slide-bg.preview-4.screen-sm-image-2(style="background-image: url(image/export/slide1-lg.png)")
    .slide-new
      span.icon.icon-gl_icos-41  
      span Фон задан как
        code background-image
  div.item
    .slide-bg.preview-4.screen-sm-image-2
      span.icon.icon-gl_icos-46
    .slide-new
      span.icon.icon-gl_icos-41
      span Да хоть иконку на фон ставь  
        code span.icon.icon-gl_icos-41
// owl-GitarLand-slider