// ! Module: Side Menu
.sidenav-menu
  ul
    li.sub
      a(href="#")
        i.icon.icon-gl_icos-2
        span АКУСТИЧЕСКИЕ ГИТАРЫ
      ul
        li.back
          a(href="#")
            i.icon.icon-gl_icos-17
            span АКУСТИЧЕСКИЕ ГИТАРЫ
        li
          a(href="#") Гитарные усилители
        li
          a(href="#") Гитары 12-струнные
        li
          a(href="#") Гитары акустические
        li
          a(href="#") Гитары детские (уменьшенные)
        li
          a(href="#") Гитары классические
        li
          a(href="#") Гитары электроакустические
        li
          a(href="#") Смотреть все 
    li.sub
      a(href="#")
        i.icon.icon-gl_icos-43
        span КЛАССИЧЕСКИЕ ГИТАРЫ
      ul
        li.back
          a(href="#")
            i.icon.icon-gl_icos-17
            span АКУСТИЧЕСКИЕ ГИТАРЫ
        li
          a(href="#") Гитарные усилители
    li
      a(href="")
        i.icon.icon-gl_icos-45
        span ЭЛЕКТРОГИТАРЫ

    li
      a(href="")
        i.icon.icon-gl_icos-1
        span Бас-гитары
    li
      a(href="#")
        i.icon.icon-gl_icos-44
        span Укулеле
    li
      a(href="#")
        i.icon.icon-gl_icos-8
        span Бренды
    li
      a(href="#")
        i.icon.icon-gl_icos-46
        span АКСЕССУАРЫ
// sidenav-menu