// ! Common: Footer
footer.common-footer 
  .top-footer.brand-bg.container-fluid
    .row
      .container 
        .col-xs-12.col-md-4
          .row
            .footer-logo.col-xs-12.col-sm-5.col-md-12
              .row
                p.sprite.sprite-logo-footer-xs
            // footer-logo
            .copyright.col-xs-12.col-sm-7.col-md-12
              .row
                p Copyright Название  ©  2016
                p Воспроизводимые на данном сайте торговые марки используются держателями сайта с разрешения правообладателя.
        .hidden-xs.col-sm-12.col-md-8
          .row
            .bottom-nav
              .col-sm-4
                  p.h О нас
                  ul
                    li
                       a(href="#") О компаниии
                    li
                       a(href="#") Отзывы клиентов
                    li
                       a(href="#") Статьи
                    li
                       a(href="#") Контакты
              .col-sm-4
                  p.h Информация для клиента
                  ul
                   li
                      a(href="#") Доставка товара
                   li
                      a(href="#") Оплата товара
                   li
                      a(href="#") Вопросы и ответы
                   li
                      a(href="#") Акции компании
              .col-sm-4
                  p.h Помощь по сайту
                  ul
                    li
                       a(href="#") Перезвонить вам?
                    li
                       a(href="#") Задать вопрос
                    li
                       a(href="#") Регистрация 
  // top-footer
  .bottom-footer.dark-bg.container-fluid
    .row
      .container
        .address.col-xs-12.col-sm-3 
          p.h Адрес:
          p г. Ваш город, ул. Ваша улица номер, 5
        .contacts.col-xs-12.col-sm-3 
          p.h Адрес:
          p г. Ваш город, ул. Ваша улица номер, 5
        .mail.col-xs-12.col-sm-3 
          p.h Наша почта:
          p Support@gmail.com
        .social.col-xs-12.col-sm-3 
          p.h Мы в социальных сетях:
          p.soc-contaner
            a(href="#").soc.tw.icon.icon-gl_icos-4
            a(href="#").soc.fb.icon.icon-gl_icos-5
            a(href="#").soc.ok.icon.icon-gl_icos-3
            a(href="#").soc.vk.icon.icon-gl_icos-6
  // bottom-footer
// common-footer