// ! Common: Categories
.common-categories.hidden-xs
  .container
    .row
      .menu
        ul
          li.active
            a(href="#") Акустические гитары
            ul
              li
                a.active(href="#") Акустические гитары
              li
                a(href="#") Классические гитары
              li
                a(href="#") Электрогитары
              li
                a(href="#") Бас-гитары
              li
                a(href="#") Укулеле
              li
                a(href="#") Наши бренды
              li
                a(href="#") Аксессуары
          li
            a(href="#") Классические гитары
          li
            a(href="#") Электрогитары
          li
            a(href="#") Бас-гитары
          li
            a(href="#") Укулеле
          li
            a(href="#") Наши бренды
          li
            a(href="#") Аксессуары
// common-categories