// ! Common: Header
header.common-header
  .top-header-bg
    .container
      .top-header.visible-xs.col-xs-12
        .col-xs-6 
          .row Круглосуточно
        .col-xs-6
          .row
            strong Без Выходных
      // top-header
  // top-header-bg
  .container
    .top-nav.hidden-xs.col-sm-9
      .row
        ul
          li.active
             a(href="#") О компании
          li
             a(href="#") Доставка
          li
             a(href="#") Оплата
          li
             a(href="#") Акция!
          li
             a(href="#") Опт
          li
             a(href="#") Контакты
    // top-nav
    .row
      .top-search.hidden-xs.col-sm-3
        .row
            form(method='post', action='')
                i.icon.icon-gl_icos-38
                input.search-text(placeholder='Поиск товара', name='filter_name', value='', type='text')
      // top-search

      .top-content.col-xs-12.col-sm-8.col-sm-push-4.col-md-9.col-md-push-3
        .row
          .col-sm-8.col-md-9
            .row
              .top-contacts.col-xs-7.col-sm-12.col-md-8.col-lg-6
                .row
                  .top-phones
                    .col-xs-2.col-sm-1.col-md-2
                      .row
                        .phone-ico.icon.icon-gl_icos-21
                    .col-xs-10.col-sm-10.col-md-6
                      .row
                        .col-xs-12.col-sm-6.col-md-12
                          .row.phone 8 (800) 
                            span 800-00-80
                            p.visible-sm Горячая линия
                        .col-sm-6.col-md-12.hidden-xs
                          .row.phone 8 (800) 
                            span 800-00-80
                            p.visible-sm Горячая линия
                  // top-phones
                  .top-social.col-xs-11.hidden-sm.col-md-4.col-xs-offset-2.col-sm-offset-0
                    .row
                      a.wa_btn(href='whatsapp://send', data-text='АДРЕС_САЙТА')
                        i.icon.icon-gl_icos-36
                        | WhatsApp  
                      br.hidden-xs
                      a.wa_btn.wa_btn_s(href='viber://forward?text=АДРЕС_САЙТА',)
                        i.icon.icon-gl_icos-36
                        | Viber
                  // top-social
              // top-contacts
              .top-bottons.col-xs-5.col-sm-12.col-md-4.col-lg-6
                .row
                  .hidden-xs.hidden-sm.col-md-12.col-lg-6.col-lg-push-6
                    .row
                      botton.btn.btn-price
                        i.icon.icon-gl_icos-20
                        .label
                          span Скачать 
                          br.visible-lg
                          b Прайс-лист
                  .col-xs-12.col-lg-6.col-lg-pull-6
                    .row
                      botton.btn.btn-call.btn-bright-color
                        .label Обратный звонок
              // top-bottons
          .top-cart.hidden-xs.col-sm-4.col-md-3
              botton.btn.btn-cart.btn-larger-icon
                i.icon.icon-gl_icos-19
                  span 2
                .label
                    span КОРЗИНА
                    br
                    b 218,00 руб.
          // top-cart
      // top-content
      .top-logo.col-xs-7.col-sm-4.col-sm-pull-8.col-md-3.col-md-pull-9
        .row
          .sprite.sprite-logo-xs.visible-xs
          .sprite.sprite-logo-sm.visible-sm
          .sprite.sprite-logo-md.visible-md
          .sprite.sprite-logo-lg.visible-lg
      // top-logo
      .top-xs-bottons.text-center.visible-xs.col-xs-5
        .row
          .col-xs-4
            .row
              botton.btn.menu-icon(onclick='openNav()')
                .row
                  i.icon.icon-gl_icos-40.size.icon-2.text-center
          .col-xs-4
            .row
              botton.btn.search-icon
                .row
                  i.icon.icon-gl_icos-38.size.icon-2.text-center
          .col-xs-4
            .row
              botton.btn.cart-icon
                .row
                  i.icon.icon-gl_icos-19.size.icon-2.text-center
                    span 2
      // top-xs-bottons
    // row
  // container
// header