#sidenav
  .sidenav-container
    botton.btn.closebtn(href='javascript:void(0)' onclick='closeNav()')
      i.icon.icon-gl_icos-23
      .label
        span Закрыть меню
    include ../Modules/sidenav-menu.jade
// #sidenav