h2.side-header Вертикальная сетка для иконок и изображений
.container
  .row
    p 
      code .size +
      |  - только размер текста (удобно для шрифтовых иконок) 
      code .size.icon-xs.screen-sm-icon-sm
    p 
      code .height +
      | только высота (удобно для изображений и всего остального)
      code .height.icon-xs
    p Для всех включая мобильники
      code icon(или preview, image)-sm(или md, lg)
    p Индивидуально под разрешения
      code .screen-sm(или md, lg)-icon(или preview, image)-sm(или md, lg)
  .row
    .col-xs-1
      p 16px
      p
        code .icon-1
      .box.height.icon-1
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 24px
      p
        code .icon-2
      .box.height.icon-2
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 32px
      p
        code .icon-3
      .box.height.icon-3
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 48px
      p
        code .icon-4
      .box.height.icon-4
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 64px
      p
        code .preview-1
      .box.height.preview-1
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 96px
      p
        code .preview-2
      .box.height.preview-2
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 128px
      p
        code .preview-3
      .box.height.preview-3
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 192px
      p
        code .preview-4
      .box.height.preview-4
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 256px
      p
        code .image-1
      .box.height.image-1
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 384px
      p
        code .image-2
      .box.height.image-2
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 512px
      p
        code .image-3
      .box.height.image-3
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")
    .col-xs-1
      p 768px
      p
        code .image-4
      .box.height.image-4
        img(src="http://31.media.tumblr.com/8a4fdb3e35c8c0b213726222f541a935/tumblr_mxqdt2d5ef1rpx9iao1_1280.jpg", alt="")

h2.side-header Сетка слайдера
br
.container
  .row
    .test.col-xs-12.col-md-8
      .row
        .height.preview-4.screen-sm-image-2
          img.test(src="http://placehold.it/767x364", alt="")
    .test.hidden-xs.col-sm-6.col-md-4
      .row
        .height.preview-4
          img.test(src="http://placehold.it/377x192", alt="")
    .test.hidden-xs.col-sm-6.col-md-4
      .row
        .height.preview-4
          img.test(src="http://placehold.it/377x192", alt="")
br
h2.side-header Обрезка изображений
.container
  br
  br
  br
  .row.text-center
    .col-sm-4
      .crop.preview-4.test
        .outer
          .inner
            img(src='http://placehold.it/200x80')
    .col-sm-4
      .crop.preview-4.test
        .outer
          .inner
            img(src='http://placehold.it/200x120')
    .col-sm-4
      .crop.preview-4.test
        .outer
          .inner
            img(src='http://placehold.it/200x170')
  br
  br
  br
h2.side-header Спрайты
.container
  .row
    h4 http://spritegen.website-performance.org/
    hr
  .row
    p
      i.sprite.sprite-category-accessories
      code i.sprite.sprite-category-accessories
    p
      i.sprite.sprite-category-bass-guitar
      code i.sprite.sprite-category-bass-guitar
    p
      i.sprite.sprite-category-classic-guitar
      code i.sprite.sprite-category-classic-guitar
    p
      i.sprite.sprite-category-electric-guitar
      code i.sprite.sprite-category-electric-guitar
    p
      i.sprite.sprite-category-speakers-guitar
      code i.sprite.sprite-category-speakers-guitar
    p.dark-bg
      i.sprite.sprite-logo-footer-xs
      code i.sprite.sprite-logo-footer-xs
    p
      i.sprite.sprite-logo-lg
      code i.sprite.sprite-logo-lg
    p
      i.sprite.sprite-logo-md
      code i.sprite.sprite-logo-md
    p
      i.sprite.sprite-logo-sm
      code i.sprite.sprite-logo-sm
    p
      i.sprite.sprite-logo-xs
      code i.sprite.sprite-logo-xs

h2.side-header Иконки
.container
  .row
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-1.size.icon-4
        code.label span.icon.icon-gl_icos-1
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-2.size.icon-4
        code.label span.icon.icon-gl_icos-2
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-3.size.icon-4
        code.label span.icon.icon-gl_icos-3
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-4.size.icon-4
        code.label span.icon.icon-gl_icos-4
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-5.size.icon-4
        code.label span.icon.icon-gl_icos-5
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-6.size.icon-4
        code.label span.icon.icon-gl_icos-6
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-7.size.icon-4
        code.label span.icon.icon-gl_icos-7
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-8.size.icon-4
        code.label span.icon.icon-gl_icos-8
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-9.size.icon-4
        code.label span.icon.icon-gl_icos-9
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-10.size.icon-4
        code.label span.icon.icon-gl_icos-10
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-11.size.icon-4
        code.label span.icon.icon-gl_icos-11
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-12.size.icon-4
        code.label span.icon.icon-gl_icos-12
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-13.size.icon-4
        code.label span.icon.icon-gl_icos-13
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-14.size.icon-4
        code.label span.icon.icon-gl_icos-14
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-15.size.icon-4
        code.label span.icon.icon-gl_icos-15
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-16.size.icon-4
        code.label span.icon.icon-gl_icos-16
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-17.size.icon-4
        code.label span.icon.icon-gl_icos-17
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-18.size.icon-4
        code.label span.icon.icon-gl_icos-18
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-19.size.icon-4
        code.label span.icon.icon-gl_icos-19
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-20.size.icon-4
        code.label span.icon.icon-gl_icos-20
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-21.size.icon-4
        code.label span.icon.icon-gl_icos-21
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-22.size.icon-4
        code.label span.icon.icon-gl_icos-22
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-23.size.icon-4
        code.label span.icon.icon-gl_icos-23
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-24.size.icon-4
        code.label span.icon.icon-gl_icos-24
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-25.size.icon-4
        code.label span.icon.icon-gl_icos-25
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-26.size.icon-4
        code.label span.icon.icon-gl_icos-26
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-27.size.icon-4
        code.label span.icon.icon-gl_icos-27
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-28.size.icon-4
        code.label span.icon.icon-gl_icos-28
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-29.size.icon-4
        code.label span.icon.icon-gl_icos-29
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-30.size.icon-4
        code.label span.icon.icon-gl_icos-30
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-31.size.icon-4
        code.label span.icon.icon-gl_icos-31
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-32.size.icon-4
        code.label span.icon.icon-gl_icos-32
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-33.size.icon-4
        code.label span.icon.icon-gl_icos-33
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-34.size.icon-4
        code.label span.icon.icon-gl_icos-34
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-35.size.icon-4
        code.label span.icon.icon-gl_icos-35
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-36.size.icon-4
        code.label span.icon.icon-gl_icos-36
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-37.size.icon-4
        code.label span.icon.icon-gl_icos-37
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-38.size.icon-4
        code.label span.icon.icon-gl_icos-38
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-39.size.icon-4
        code.label span.icon.icon-gl_icos-39
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-40.size.icon-4
        code.label span.icon.icon-gl_icos-40
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-41.size.icon-4
        code.label span.icon.icon-gl_icos-41
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-42.size.icon-4
        code.label span.icon.icon-gl_icos-42
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-43.size.icon-4
        code.label span.icon.icon-gl_icos-43
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-44.size.icon-4
        code.label span.icon.icon-gl_icos-44
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-45.size.icon-4
        code.label span.icon.icon-gl_icos-45
    .col-sm-6.col-md-4
      .btn
        i.icon.icon-gl_icos-46.size.icon-4
        code.label span.icon.icon-gl_icos-46
h2.side-header Кнопки
.container
  .row
    .col-sm-6.col-md-4
      botton.btn
        .label Кнопка
    .col-sm-6.col-md-4
      botton.btn
        i.icon.icon-gl_icos-41
        .label Кнопка 
          b с иконкой
    .col-sm-6.col-md-4
      botton.btn.btn-external-reset-styles
        i.icon.icon-gl_icos-41
        .label Без внешних стилей

    .col-sm-6.col-md-4
      botton.btn.btn-bright-color 
        .label Обратный звонок
    .col-sm-6.col-md-4
      botton.btn.btn-larger-icon
          i.icon.icon-gl_icos-19
            span.icon.icon-gl_icos-37
          .label Кнопка с увеличенной конкой и чем то еще на ней в 
            code span
    .col-sm-6.col-md-4
      botton.btn.btn-big-icon
          i.icon.icon-gl_icos-19
            span.icon.icon-gl_icos-37
          .label Кнопка с большой конкой и чем то еще на ней в 
            code span
      botton.btn.btn-huge-icon
          i.icon.icon-gl_icos-19
            span.icon.icon-gl_icos-37
          .label Кнопка с огромной конкой и чем то еще на ней в 
            code span
    .col-sm-6.col-md-4
      botton.btn.menu-icon(onclick='openNav()')
        i.icon.icon-gl_icos-40
    .col-sm-6.col-md-4
      botton.btn(onclick='openNav()')
        i.icon.icon-gl_icos-40
        .label Меню
    .col-sm-6.col-md-4
      botton.btn.btn-brand-gradient
        i.icon.icon-gl_icos-37
        .label C брендовым градиентом
h2.side-header Вертикальное меню для мобильной верссии
.container
  .row
    h3
      code .sidenav-menu
    hr
    .test
      include ../Modules/sidenav-menu.jade
br
h2.side-header Слайдер
br
.container-fluid
  .row
    include ../Modules/owl-slider.jade
br

h1.side-header .side-header
.container
  .row
    h3
      code .side-box
    .side-box

      P Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ее последний заглавных страна агенство. Заголовок курсивных безорфографичный, одна переписали взобравшись запятой! Собрал имени рукописи встретил, диких первую сбить путь.
  br
  .row
    h2.side-header .side-header + .side-box
    .side-box
      P Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ее последний заглавных страна агенство. Заголовок курсивных безорфографичный, одна переписали взобравшись запятой! Собрал имени рукописи встретил, диких первую сбить путь.

hr

.container
  .row
    article.text
    h1 Заголовок 1
    p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Букв, эта ipsum. Города которой деревни, маленький собрал последний выйти безорфографичный они языком раз заглавных, коварных, толку взобравшись лучше запятых.
    h2 Заголовок 2
    p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ручеек несколько своих свое, дорогу переписывается наш путь заманивший меня буквенных свою использовало города свой, скатился лучше. Гор, однажды, жаренные!
    h3 Заголовок 3
    p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предложения толку прямо щеке рот океана не рыбными lorem решила назад однажды жаренные, живет страну сих лучше. Переулка, составитель, рекламных.
    h4 Заголовок 4
    p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Языком всеми мир заманивший дорогу до строчка запятых? Агенство рукопись своих однажды. Океана если то запятых пунктуация маленький до речью.
    h5 Заголовок 5
    p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Повстречался всемогущая грустный семантика даль текстами оксмокс ведущими lorem, имеет языком она, страну, речью вопрос бросил. Взобравшись журчит, точках грустный.
    h6 Заголовок 6
    p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Злых, языком свое рыбными силуэт прямо проектах заголовок, она безопасную предупреждал буквенных там. Дорогу путь ipsum, своего несколько, однажды свой.

    h4.side-lined Заголовкок  
      small
       code .side-lined
    h4.page-header Заголовкок  
      small
       code .page-header
    p.lead Выделенный абзац 
      code .lead
    
    h2.side-lined Параграфы
    p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всемогущая правилами грустный на берегу осталось семь, текстов встретил они пустился буквенных, подзаголовок раз вершину свое свой речью выйти сбить там!
    p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. На берегу решила родного приставка языком, взгляд своих, щеке продолжил. Парадигматическая выйти журчит напоивший текст эта, ее текстами знаках вопроса, вдали.
    p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Использовало ручеек великий выйти образ своего она предупредила живет, жизни речью, рыбного семь залетают за знаках журчит lorem себя силуэт.

    h2.side-lined Списки
    code ul>li
    ul
      li Маркер 1
      li Маркер 2
        ul
          li Маркер 1
          li Маркер 2
          li Маркер 3
            ul
              li Маркер 1
              li Маркер 2
              li Маркер 3
    code ol>li
    ol
      li Номер 1
      li Номер 2
      li Номер 3
    
    code ul.list-unstyled
    ul.list-unstyled
      li Маркер 1
      li Маркер 2

    code ul.list-inline
    ul.list-inline
      li Маркер 1
      li Маркер 2

    code dl>dt+dd
    dl
      dt Description lists
      dd A description list is perfect for defining terms.
      dt Euismod
      dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      dd Donec id elit non mi porta gravida at eget metus.
      dt Malesuada porta
      dd Etiam porta sem malesuada magna mollis euismod.

    code dl.dl-horizontal>dt+dd
    dl.dl-horizontal
      dt Description lists
      dd A description list is perfect for defining terms.
      dt Euismod
      dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
      dd Donec id elit non mi porta gravida at eget metus.
      dt Malesuada porta
      dd Etiam porta sem malesuada magna mollis euismod.

    h2.side-lined Код
    p
      code monospace - code
      br
      tt monospace - tt
      br
      kbd monospace - kbd
      br
      kbd
        kbd kbd внутри kbd
      br
      samp monospace - samp
      br
    h5 Преформированный - 
      code pre
    pre.
      Текст
        как
          есть
            с учетом табуляци и пробелов
    h5 Преформированный со скроллом - 
      code pre.pre-scrollable
    pre.pre-scrollable.
        
        Строка 1 
        Строка 2 
        Строка 3 
        Строка 4 
        Строка 5 
        Строка 6 
        Строка 7 
        Строка 8 
        Строка 9 
        Строка 10
        Строка 11
        Строка 12
        Строка 13
        Строка 14
        Строка 15
        Строка 16
        Строка 17
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat tenetur doloribus optio quos dolorum quam totam delectus veritatis, eum quas, ex dolores consequatur excepturi. Maxime error distinctio optio necessitatibus nisi!


    h2.side-lined Выделение
    a(href="#") Ссылка - 
    code a
    br
    strong Выделеный текст - 
    code strong
    br
    b Жирный шрифт - 
    code b
    br
    em Курсив - 
    code em
    br
    u Подчеркнутый - 
    code u
    br
    ins Подчеркнутый - 
    code ins
    br
    s Зачеркнуты й - 
    code s
    br
    del Зачеркнуты й - 
    code del
    br
    big Увеличеный - 
    code big
    br
    small Уменьшенный - 
    code small
    br
    p
      sup sup
      | Надстрочный\Подстрочный
      sub sub
    hr
    .box
      code .box
    p.muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
      code .muted
    p.text-warning Etiam porta sem malesuada magna mollis euismod.
      code .text-warning
    p.text-error Donec ullamcorper nulla non metus auctor fringilla.
      code .text-error
    p.text-info Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.
      code .text-info
    p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
      code .text-success
    hr
    p.box.bg-primary Nullam id dolor id nibh ultricies vehicula ut id elit.  
      code .bg-primary
    p.box.bg-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.  
      code .bg-success
    p.box.bg-info Maecenas sed diam eget risus varius blandit sit amet non magna.  
      code .bg-info
    p.box.bg-warning Etiam porta sem malesuada magna mollis euismod.  
      code .bg-warning
    p.box.bg-danger Donec ullamcorper nulla non metus auctor fringilla.  
      code .bg-danger


    hr
    h2.side-lined Выравнивание
    h4 
      code .text-left
    p.text-left  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Великий переулка города единственное большого однажды даже ручеек, текст первую букв текста возвращайся большой переписали маленькая семь пор о речью.
    h4 
      code .text-right
    p.text-right  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятых пояс, подзаголовок рекламных коварный реторический которое снова но необходимыми великий, жизни вопрос переписали строчка алфавит, сбить рыбного пустился рыбными.
    h4 
      code .text-center
    p.text-center  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Имеет снова, диких если лучше что своего заглавных залетают свой безорфографичный послушавшись последний деревни ее подзаголовок о имени, обеспечивает родного!
    h4 
      code .text-justify
    p.text-justify  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Коварных путь рукопись они меня языком ее ipsum города назад рыбного, жизни которое себя инициал, знаках взгляд дороге однажды которой?
    h4 
      code .text-nowrap
    p.text-nowrap(style='border: 1px solid #000;width: 200px;padding: 20px;') Текст который не переносится на новую строку
    h4 
      code .text-muted
    p.text-muted  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предупредила толку однажды свою подпоясал, он скатился силуэт текст рукопись, знаках рыбного коварный точках, на берегу всеми безопасную о путь лучше.
    blockquote
      | Цитата - 
      code blockquote
      p
        | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Использовало ручеек великий выйти образ своего она предупредила живет, жизни речью, рыбного семь залетают за знаках журчит lorem себя силуэт.


    h3.side-lined Таблицы
    div
      div
        h4 
          | Класс 
          code .table 
          br
          small
            code table.table>(thead>tr>th)+(tbody>tr>td)
        table.table
          thead
            tr
              th #
              th Имя
              th Фамилия
              th Пользователь
          tbody
            tr
              td 1
              td Mark
              td Otto
              td @mdo
            tr
              td 2
              td Jacob
              td Thornton
              td @fat
            tr
              td 3
              td Larry
              td the Bird
              td @twitter
      div
        hr
        h4 Класс 
          code .table-bordered
          br
          small
            code table.table.table-bordered>(thead>tr>th)+(tbody>tr>td)
        table.table.table-bordered
          thead
            tr
              th #
              th Имя
              th Фамилия
              th Пользователь
          tbody
            tr
              td 1
              td Mark
              td Otto
              td @mdo
            tr
              td 2
              td Jacob
              td Thornton
              td @fat
            tr
              td 3
              td Larry
              td the Bird
              td @twitter
      div
        hr
        h4 Класс 
          code .table-striped 
          br
          small
            code table.table.table-striped>(thead>tr>th)+(tbody>tr>td)
        table.table.table-striped
          thead
            tr
              th #
              th Имя
              th Фамилия
              th Пользователь
          tbody
            tr
              td 1
              td Mark
              td Otto
              td @mdo
            tr
              td 2
              td Jacob
              td Thornton
              td @fat
            tr
              td 3
              td Larry
              td the Bird
              td @twitter
      div
        hr
        h4 Класс 
          code .table-hover 
          br
          small
            code table.table.table-hover>(thead>tr>th)+(tbody>tr>td)
        table.table.table-hover
          thead
            tr
              th #
              th Имя
              th Фамилия
              th Пользователь
          tbody
            tr
              td 1
              td Mark
              td Otto
              td @mdo
            tr
              td 2
              td Jacob
              td Thornton
              td @fat
            tr
              td 3
              td Larry
              td the Bird
              td @twitter
      div
        hr
        h4 Адаптивные таблицы 
          code .table-responsive
          br
          small
            code .table-responsive>table.table>(thead>tr>th)+(tbody>tr>td)
        .bs-example
          .table-responsive
            table.table
              thead
                tr
                  th #
                  th Заголовок таблицы
                  th Заголовок таблицы
                  th Заголовок таблицы
                  th Заголовок таблицы
                  th Заголовок таблицы
                  th Заголовок таблицы
              tbody
                tr
                  td 1
                  td Ячейка
                  td Ячейка
                  td Ячейка
                  td Ячейка
                  td Ячейка
                  td Ячейка
                tr
                  td 2
                  td Ячейка
                  td Ячейка
                  td Ячейка
                  td Ячейка
                  td Ячейка
                  td Ячейка
                tr
                  td 3
                  td Ячейка
                  td Ячейка
                  td Ячейка
                  td Ячейка
                  td Ячейка
                  td Ячейка

      h3.side-lined Зображения
    .inline-block
      h5 
        code img
      img(src="http://placehold.it/150x150")
    .inline-block
      h5 
        code .img-rounded
      img.img-rounded(src="http://placehold.it/150x150")
    .inline-block
      h5 
        code .img-thumbnail
      img.img-thumbnail(src="http://placehold.it/150x150")
    .inline-block
      h5 
        code .img-circle
      img.img-circle(src="http://placehold.it/150x150")
    .inline-block
      h5 
        code .img-responsive
      img.img-responsive(src="http://placehold.it/150x150")

    h3.side-lined Значки
    h5 Значек закрытия - 
      code button.close
    .clearfix
    button.close.pull-left(type='button' aria-hidden='true') &times;
    .clearfix
    h5 Значек меню - 
      code span.caret
    .clearfix
    span.caret


    h3.side-lined Формы
    form.form-horizontal(role='form')
      .form-group
        label.col-sm-2.control-label(for='inputEmail3') Email
        .col-sm-10
          input#inputEmail3.form-control(type='email' placeholder='Email')
      .form-group
        label.col-sm-2.control-label(for='inputPassword3') &Pcy;&acy;&rcy;&ocy;&lcy;&softcy;
        .col-sm-10
          input#inputPassword3.form-control(type='password' placeholder='Password')
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            label
              input(type='checkbox')
              |  Запомнить меня
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') Войти
      .form-group
        .col-sm-offset-2.col-sm-10
          textarea.form-control(rows='3')