.container
  .row.section-row
    .category-section
      a(href="#").item.active.clearfix
        .image.col-xs-4.col-sm-12.text-center
          .row
            .crop.preview-1.screen-sm-preview-3.screen-md-preview-4
              .outer
                .inner
                  img(src="image/export/category-accessories.png", alt="")
        .label.col-xs-7.col-sm-12
          .row
            .h Акустические 
            .l гитары
    
      a(href="#").item.clearfix
        .image.col-xs-4.col-sm-12.text-center
          .row
            .crop.preview-1.screen-sm-preview-3.screen-md-preview-4
              .outer
                .inner
                  img(src="image/export/category-accessories.png", alt="")
        .label.col-xs-7.col-sm-12
          .row
            .h Классические 
            .l гитары
    
      a(href="#").item.clearfix
        .image.col-xs-4.col-sm-12.text-center
          .row
            .crop.preview-1.screen-sm-preview-3.screen-md-preview-4
              .outer
                .inner
                  img(src="image/export/category-accessories.png", alt="")
        .label.col-xs-7.col-sm-12
          .row
            .h Электрогитары
    
      a(href="#").item.clearfix
        .image.col-xs-4.col-sm-12.text-center
          .row
            .crop.preview-1.screen-sm-preview-3.screen-md-preview-4
              .outer
                .inner
                  img(src="image/export/category-accessories.png", alt="")
        .label.col-xs-7.col-sm-12
          .row
            .h Бас
            .l гитары
    
      a(href="#").item.clearfix
        .image.col-xs-4.col-sm-12.text-center
          .row
            .crop.preview-1.screen-sm-preview-3.screen-md-preview-4
              .outer
                .inner
                  img(src="image/export/category-accessories.png", alt="")
        .label.col-xs-7.col-sm-12
          .row
            .h Укулеле 
    
      a(href="#").item.clearfix
        .image.col-xs-4.col-sm-12.text-center
          .row
            .crop.preview-1.screen-sm-preview-3.screen-md-preview-4
              .outer
                .inner
                  img(src="image/export/category-accessories.png", alt="")
        .label.col-xs-7.col-sm-12
          .row
            .h Для начнающих 
    
      a(href="#").item.clearfix
        .image.col-xs-4.col-sm-12.text-center
          .row
            .crop.preview-1.screen-sm-preview-3.screen-md-preview-4
              .outer
                .inner
                  img(src="image/export/category-accessories.png", alt="")
        .label.col-xs-7.col-sm-12
          .row
            .h Аксессуары 

  .row.section-row.slider-section
    .col-xs-12.col-md-8
      .row
        include ../Modules/owl-slider.jade
    .hidden-xs.col-sm-6.col-md-4
      .row
        .crop.preview-4
          .outer
            .inner
              img(src="http://placehold.it/377x192", alt="")
    .hidden-xs.col-sm-6.col-md-4
      .row
        .crop.preview-4
          .outer
            .inner
              img(src="http://placehold.it/377x192", alt="")

  .row.section-row.advantages-section.hidden-xs
    .h4.side-header ПОЧЕМУ МЫ?
    .side-box
      .item
        .btn.btn-external-reset-styles
          i.icon.icon-gl_icos-9.size.icon-4
          .label Доставка 
            br
            | в течении 3 часов
      .item.hidden-sm
        .btn.btn-external-reset-styles
          i.icon.icon-gl_icos-10.size.icon-4
          .label Проверка 
            br
            | качества каждой гитары
      .item
        .btn.btn-external-reset-styles
          i.icon.icon-gl_icos-11.size.icon-4
          .label Самые  
            br
            | низкие цены 
      .item.hidden-sm
        .btn.btn-external-reset-styles
          i.icon.icon-gl_icos-12.size.icon-4
          .label Тысячи  
            br
            | довольных клиентов
      .item
        .btn.btn-external-reset-styles
          i.icon.icon-gl_icos-13.size.icon-4
          .label Чехол  
            br
            | в подарок

  hr.fatty
  .row.section-row
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          .old
            span от 6 999
              i.icon.icon-gl_icos-24
          .new
            span от 4 499
              i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          span от 4 499 
            i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          .old
            span от 6 999
              i.icon.icon-gl_icos-24
          .new
            span от 4 499
              i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          span от 4 499 
            i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          .old
            span от 6 999
              i.icon.icon-gl_icos-24
          .new
            span от 4 499
              i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          span от 4 499 
            i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          .old
            span от 6 999
              i.icon.icon-gl_icos-24
          .new
            span от 4 499
              i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          span от 4 499 
            i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          .old
            span от 6 999
              i.icon.icon-gl_icos-24
          .new
            span от 4 499
              i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          span от 4 499 
            i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          .old
            span от 6 999
              i.icon.icon-gl_icos-24
          .new
            span от 4 499
              i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
    .col-product
      .card-product
        .title Prado HS 3805 BK
        .image
          .height.preview-4
              img(src="image/export/product.png", alt="")
        .price
          span от 4 499 
            i.icon.icon-gl_icos-24
        .buy-button
          botton.btn.btn-bright-color
              i.icon.icon-gl_icos-7
              .label Купить
        .clearfix
        .one-click
            a(href="#") Купить в один клик
        .clearfix
  .row.text-center
    .inline-block
      botton.btn.btn-brand-gradient
        .label ПОКАЗАТЬ ЕЩЕ
  hr.fatty

  .row.section-row
    article
      h2 Как правильно выбрать и купить гитары оптом?
      p Сегодня купить гитары оптом не так просто, как купить один инструмент: многие ошибочно предполагают, что для оптовой покупки достаточно зайти в любой магазин музыкальных инструментов и договориться о покупке, однако на самом деле немногие готовы предоставить услугу оптовой продажи. Купить гитары оптом через интернет онлайн удобно и просто, ведь немногими интернет-магазинами такая услуга все же предоставляется. Это позволяет покупателю сэкономить немало времени и денежных средств и в конечном итоге получить куда более значимую выгоду с перепродаж. 

      hr

      h2 Преимущества покупки гитар оптом через интернет
      p.h5 На самом деле покупка через интернет куда выгоднее и этому есть несколько доказательств:

      .side-box
        ul
          li Наш интернет-магазин готов предоставить большие скидки в зависимости от объема закупок, что дает оптовому покупателю при перепродаже гитар возможность заработать значительно больше;

          li Хорошее качество гитар и выгодные цены станут лучшим гарантом долгосрочного сотрудничества оптовика и нашего интернет-магазина;

          li Ассортимент онлайн-магазина обновляется чаще, нежели в обычных магазинах;

          li Оперативная логистика рассчитана таким образом, что любые объемы будут доставлены в указанное место в самые кратчайшие сроки;

          li Получить ответы на все интересующие вопросы можно не выходя из дома благодаря онлайн-консультантам;

          li В обязательном порядке осуществляется страховка доставляемого груза перед отправлением по адресу покупателя вне зависимости от его местонахождения. 
      
      h2 Как выбрать гитары при оптовой покупке?
      p Безусловно, перед тем как сделать окончательный выбор и купить гитары, нужно с особым вниманием отнестись к нескольким моментам, которые и помогут в конечном итоге сделать правильный выбор:

      ol
        li Внимательно ознакомиться с тем материалом, из которого сделаны гитары, так как это наиболее важный момент при выборе хорошего инструмента. От выбранного материала будет зависеть качество звучания инструмента и срок его службы; 

        li Страна-производитель выбранных гитар имеет не меньшее значение. Сегодня многие страны только начали заниматься массовым производством гитар, и пока их качество производства не совсем отвечает принятым стандартам, хотя цена гитар из этих стран может быть и ниже;

        li Важно определиться и с маркой покупаемых гитар. Бесспорными лидерами сегодня остаются такие мировые гиганты, как Fender, Ibanez, Gibson, Yamaha, Kramer, Jackson и другие.

      hr

      h2 Как купить гитары оптом?
      p Для того чтобы сделать оптовую покупку гитар в нашем интернет-магазине нужно:
      .steps
        .step
          p.icon.icon-gl_icos-32
          p.lebel В открывшемся окне оставить свои контактные данные
        .step
          p.icon.icon-gl_icos-32
          p.lebel В открывшемся окне оставить свои контактные данные
        .step
          p.icon.icon-gl_icos-32
          p.lebel В открывшемся окне оставить свои контактные данные

      hr
      h2 Сколько могут стоить гитары оптом?
      p Ответить однозначно на то, сколько конкретно могут стоить гитары при покупке оптом, нельзя, так как в этом вопросе все зависит от выбранной модели и ценовой политики самого магазина, однако достаточно помнить о том, что если среднюю гитару для начинающего музыканта можно купить, к примеру, в районе, 4000-6000 рублей, то купить гитары оптом можно будет со скидкой примерно в 30-50%. Сохраняя в голове это простое правило, можно всегда даже без консультаций определить стоимость оптовой покупки той или иной модели гитары. 
      h2 Заключение 
      p Как уже было сказано выше, сегодня купить гитары оптом не так сложно, как это было, к примеру, всего пару лет назад, ведь стремительное развитие и распространение сети интернета позволяет вам сделать заказ из любой точки мира и получить выбранные товары из нашего магазина в максимально быстрые сроки. Конечно, во время покупки в интернете можно столкнуться с недобросовестными продавцами, но их можно встретить и в обычных магазинах музыкальных инструментов, где под видом дорогих гитар могут продаваться обычные дешевые подделки. Важно со всей ответственностью и внимательностью подходить к покупке и тогда в конечном итоге буде легко получить нужный результат. 

  hr

  .row.section-row.reviews-section
    .col-md-6.col-md-push-6
      .row
        // ! Module: Slider
        #review-slider.owl-GitarLand-slider.owl-carousel.dark-bg
          div.item
            .slide-bg.preview-4.screen-sm-image-1
              img(src="image/export/slide1-lg.png", alt="")
            .slide-new 
              div НОВАЯ КОЛЛЕЦИЯ
        // owl-GitarLand-slider
    .col-md-6.col-md-pull-6
      h4.header Отзывы клиентов
      #review-carusel.reviews
        .review
          .row
            .col-sm-5
              .photo.height.text-center
                img.img-circle(src="http://placehold.it/192x192", alt="")
            .col-sm-7
              .name Регина Аврамова
              .date 21 декабря 2014
              .post куплю акустическую гитару» в поисковике показывает, сколь обленилось человечество, что даже музыкальные инструменты покупает в 
              .more 
                a(href="#") Читать дальше
        .review
          .row
            .col-sm-5
              .photo.height.text-center
                img.img-circle(src="http://placehold.it/192x192", alt="")
            .col-sm-7
              .name Регина Аврамова
              .date 21 декабря 2014
              .post куплю акустическую гитару» в поисковике показывает, сколь обленилось человечество, что даже музыкальные инструменты покупает в 
              .more 
                a(href="#") Читать дальше
      .row.text-center
        .inline-block
          botton.btn.btn-dark-gradient
            .label ВСЕ ОТЗЫВЫ


